body {
    margin: 0;
    background:
        linear-gradient(#2d3657, #0e0d1c);
    display: grid;
    place-items: center;
    height: 100vh;
}

.atropos {height: 300px; width: 560px;}

.atropos-inner {
    border-radius: 20px;
    background:
        linear-gradient(#55199f, #090420);
}

.layer {
    position: absolute;
    left: -25%;
    top: -40%;
    width: 150%;
    height: 150%;
    object-fit: contain;
    display: block;
    z-index: -1;
    transform-style: preserve-3d;
    pointer-events: none;
}

.logo {
    width: 21%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }